body{
	background-image: url( bt.png); 
	background-size: 100vw 100vh;
	background-attachment: fixed;
	margin: 0;
	font-family: monospace;
}

form{
	width: 450px;
	height: 100%;
	margin: auto;
	background: rgba(0,0,0,0.6);
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 10px;
	border-radius: 7px;
	color: #fff;
	font-size: 25px;
}

h2{
	color: #fff;
	text-align: center;
	margin:0;
	font-size: 30px;
	margin-bottom: 20px;
}

select {
	font-size: 20px;
	
}

.contenedor{
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}

#edad{
	text-align: center;
	font-size: 20px;
}

#tags{
	font-size: 20px;
}

#ciudad{
	margin-top: 60px;
}

#boton{
	background: #31384A;
	color:#fff;
	font-size:20px;
	padding: 20px;
	margin-top: 20px
}

#boton:hover{
	cursor: pointer;
	background: rgba(49,56,74,0.6);

}

@media (max-width:480px){
	form{
		width: 100%;
	}
	select{
		width: 80%;
	}
	#tags{
		width: 80%;
	}

}